.App {
  text-align: center;
}

.App-logo {
  height: 17vmin;
  width: 17vmin;
  border-radius: 80%;
  pointer-events: none;
  display: inline-flex;
  align-items: left;
  justify-content: left;
  float: left;
  content:url("logo.png");
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 18vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 0px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Home-page {
  background-image: url("./studying.jpeg");
  background-size: 1500px; 
  min-height: 600px;
  min-width: 1200px;
  opacity: 0.5;
}

.nav-container {
  background-color: brown;
  min-width: 1200px;
  min-height: 50px;
  color: white;
  align-items: center;
}

.nav-button {
  /* border: none; */
  color: black;
  padding: 18px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button {
  font-size: 1.0em;
  color: black;
  background-color: lightgrey;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background: tan;
}

.column-layout {
  max-width: 1400px;
  background-color: white;
  margin: 10px auto 0 auto;
  line-height: 1.65;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  }
  
  .topics-container{
  margin-bottom: 20px;
  background-color: lightgrey;
  font-family: Arial, Helvetica, sans-serif;
  }
    
  .flash-cards-container {
  flex: 3;
  order: 3;
  background-color: #c0dbe2;
  font-family: Arial, Helvetica, sans-serif;
  }
  
  .flash-card-input-container {
    flex: 1;
    order: 3;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 150px;
    width: 500px;
    border: 1px solid;
    font-size: small;
    text-align: left;
    justify-content: flex-start;
    border-radius: 10px;
  }

  .topic-input-container {
    flex: 1;
    order: 1;
    background-color: white;
    height: 150px;
    width: 500px;
    border: 1px solid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    text-align: left;
    justify-content: flex-start;
    border-radius: 10px;
    border: 1px solid;
  }

  .topics-list {
    flex: 2;
    order: 3;
    flex-direction: row;
  }

  .topics-ul {
    display: inline-flex;
    flex-wrap: wrap;
  }

  .flash-cards-list {
    flex: 1;
    order: 2;
    flex-direction: column;
    background-color: lightgrey;
  }

  .flash-cards-ul {
    display: inline-flex;
    flex-wrap: wrap;
  }
  
/* below is from pokemon */
body {
  margin: 0;
  padding: 0;
}

header {
  background-color: darkslategray;
  margin: 0 auto;
  height: 50px;
}

header h2 {
  padding: 10px;
  margin: 0;
}

main2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  padding-top: 10px;
  padding-bottom: 30px;
}

div.card {
  background-color: #ffe6cc;
  
}

div.topic-card {
  background-color: #eeeeee;
  height: 150px;
  width: 300px;
  box-shadow: 10px 10px grey;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid
}

div.flash-card {
  background-color: #fff3e6;
  height: 200px;
  width: 400px;
  box-shadow: 10px 10px grey;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid
}

p {
  font-size: 1.5em;
  color: black;
  font-family: Helvetica;
}

li {
  font-size: 1.05em;
  list-style: none;
  padding-right: 20px;
}

button {
  font-size: 1.0em;
  color: black;
  background-color: lightgrey;
  border-radius: 10px;
}

button.delete {
  float: right;
  background-color: brown;
  color: white
}

input[type=submit] {
  background-color:darkblue;
  font-size: 0.65em;
  color: white;
  /* padding: 12px 20px; */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@media only screen and (min-width: 500px) {
  main {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 850px) {
  main {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
